.option {
    width: 200px;
    height: 100px;
    display: flex;
    margin: 20px auto;
}

.seta {
    margin: auto;
}

.btn-1 {
    margin: auto 0px auto auto;
}

.btn-2 {
    margin: auto auto auto 0px;
}

.btn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 60px;
}

.btn-1:hover {
    transition: 1s;
    text-shadow: -5px 5px 0px gray;
    color: #ff96ad;
    top: -5px;
    left: -5px;
}

.btn-1:target {
    color: #d60a0a;
    text-shadow: none;
}

.btn-2:hover {
    transition: 1s;
    text-shadow: -5px 5px 0px gray;
    color: #5CE672;
    top: -5px;
    left: -5px;
}

.game {
    display: table;
    width: 318px;
    margin: auto;
    border: solid 3px #6DA5DE;
    border-radius: 5px;
}

.box {
    border: solid 3px #6DA5DE;
    width: 100px;
    height: 100px;
    float: left; 
}

.box:hover {
    background: #6da6de6b;
    cursor: pointer;
}

.box p {
    text-align: center;
    font-size: 60px;
    margin: 15px 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}