.contato { /* REMOVER DEPOIS */
    height: fit-content;
    background-color: var(--cor0);
    margin: 0;
}

#linksfooter {
    list-style: none;
    font-size: 35px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 25%;
    justify-content: center;
}

.link {
    padding: 10px 0px;
}

.link a{
    color: var(--cor4);
}


.link:hover a {
    color: var(--cor3);
}

@media (max-width: 650px) {
    #linksfooter {
        font-size: 1.2em;
    }
}