.header {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
    background: var(--cor0);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.267);
}

.header_name {
    color: var(--cor4);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font01);
    letter-spacing: 4px;
}

.header_nav_list {
    display: flex;
    list-style: none;
    gap: .5rem;
}

.header_nav_list_link {
    display: block;
    padding: .9rem;
    color: var(--cor4);
    font-weight: bold;
}

.header_nav_list_link:hover {
    background: var(--cor4);
    color: var(--cor0);
    border-radius: 50px;
}

.header_nav_btn {
    display: none;
}

@media (max-width: 600px) {
    .header_nav_btn {
        display: flex;
        padding: .5rem;
        font-size: 1rem;
        border: none;
        background: none;
        font-weight: bold;
        color: var(--cor4);
        cursor: pointer;
        gap: .5rem;
        align-items: center;
    }

    .burger {
        width: 20px;
        border-top: 2px solid;
    }

    .burger::after,
    .burger::before {
        display: block;
        content: "";
        width: 20px;
        border-top: 2px solid;
        margin-top: 5px;
        background: currentColor;
        transition: 0.6s;
        position: relative;
    }

    .header_nav.active .burger {
        border-top-color: transparent;
        transform: rotate(180deg);
        transition: 0.6s;
    }

    .header_nav.active .burger::before {
        transform: rotate(135deg);
    }

    .header_nav.active .burger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .header_nav_list {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--cor0);
        z-index: 1000;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.247);
        transition: 0.6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    .header_nav.active .header_nav_list{
        height: 160px;
        visibility: visible;
        overflow-y: none;
    }

    .header_nav_list_link {
        text-align: center;
        margin: 5px;
    }

    .header_nav_list_link:hover {
        background: var(--cor4);
        color: var(--cor0);
        border-radius: 15px;
        
    }

}
