.portfolio {
    height: fit-content;
    padding-bottom: 5%;
    background: linear-gradient(#22344665, #22344638, #2234460c,  #22344638, #22344665);
    overflow-x: hidden;
}

.portfolio h2 {
    font-size: 3em;
    color: var(--cor4);
    text-align: center;
    padding: 10px;
}

.projects {
    width: 90%;
    margin: auto;
}

.container {
    display: table;
}

.project {
    display: inline-table;
    margin: 5%;
    width: 40%;
    height: 300px;
    background-color: red;
    position: relative;
    z-index: 0;
}

.pr0 {
    background-image: url(../img/projeto0.PNG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pr1 {
    background-image: url(../img/projeto1.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.detalhes {
    color: var(--cor4);
    text-align: center;
    margin: auto;
    height: 0;
    background-color: rgba(0, 0, 0, 0.829);
    transition: 1s;
    overflow: hidden;
}

.project:hover .detalhes {
    visibility: visible;
    height: 100%;
}

.title {
    font-size: 1.8em;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 300%;
    transition: 1s;
    white-space: nowrap;
}

.project:hover .title {
    margin-left: 0;
}

.text {
    font-size: 1.3em;
    width: 80%;
    margin: auto;
}

.text p {
    padding: 10px;
}

.text hr {
    width: 0;
    transition: 1s;
    margin: auto;
}

.project:hover .text hr{
    width: 100%;
}

.btnpro {
    position: absolute;
    bottom: 0;
    background-color: var(--cor5);
    width: 100%;
    height: 0;
    font-size: 1.8em;
    visibility: hidden;
    transition: height 1s;
    overflow: hidden;
}

.btnpro:hover {
    background-color: var(--cor4);
    color: var(--cor5);
}

.project:hover .btnpro{
    visibility: visible;
    height: 20%;
}

.btnpro i {
    margin-top: 3%;
}

@media (max-width: 650px) {

    .projects {
        width: 90%;
        margin: auto;
    }

    .project {
        display: inline-table;
        margin-top: 5%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-bottom: calc(300px + 5%);
        width: 95%;
        height: 300px;
        background-color: red;
        position: relative;
        border-radius: 5px 5px 0px 0px;
    }

    .detalhes {
        position: relative;
        top: 300px;
        color: var(--cor4);
        text-align: center;
        margin: auto;
        height: 100%;
        background-color: var(--cor5);
        border-radius: 0px 0px 5px 5px;
    }

    .title {
        font-size: 1.4em;
        margin-bottom: 25px;
        margin-top: 20px;
        margin-left: 0;
    }

    .text {
        font-size: 1.1em;
        width: 90%;
    }

    .text hr {
        width: 100%;
    }

    .btnpro {
        position: absolute;
        bottom: 0;
        background-color: var(--cor4);
        color: var(--cor5);
        width: 100%;
        height: 20%;
        font-size: 1.8em;
        visibility: visible;
    }

    .btnpro:hover {
        background-color: var(--cor5);
        color: var(--cor4);
    }
}