@import "nav.css";
@import "fonts.css";
@import "home.css";
@import "portfolio.css";

:root {
    --cor0: #223446;
    --cor1: #30464D;
    --cor2: #58767B;
    --cor3: #6E807E;
    --cor4: #6DA5DE;
    --cor5: #0F1A20;

    --font1: 'Ubuntu', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font1);
    -webkit-tap-highlight-color: transparent;
}

main {
    display: grid;
    background-image: url('../img/background_1.jpg');
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}
