@import "nav.css";
@import "fonts.css";

:root {
    --cor0: #223446;
    --cor1: #30464D;
    --cor2: #58767B;
    --cor3: #6E807E;
    --cor4: #6DA5DE;
    --cor5: #0F1A20;

    --font01: 'Ubuntu', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}